<ion-tabs class='tabs-icon-top'>
	<!-- 智能门禁 -->
	<ion-tab title='智能门禁' icon='ion-home' ui-sref='menjin.menka'>
		<ion-nav-view name='menka'></ion-nav-view>
	</ion-tab>

	<!-- 访客邀约 -->
	<ion-tab title='访客邀约' icon='ion-person-add' ui-sref='menjin.visitor'>
		<ion-nav-view name='visitor'></ion-nav-view>
	</ion-tab>
	
	<!-- 远程开门 -->
	<ion-tab title='远程开门' icon='ion-unlocked' ui-sref='menjin.remote'>
		<ion-nav-view name='remote'></ion-nav-view>
	</ion-tab>

	<!-- ionic tab demo, sample code -->
	<!-- <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
	    <ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab> -->

</ion-tabs>