<ion-view title='访客邀约'>

    <ion-content class='padding'>
      <div class="list border-bottom-only">
        <label class="item item-input item-stacked-label">
          <span class="input-label">姓名</span>
          <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">电话<span class='description'>(用于接收门卡二维码)</span></span>
          <input type="text" placeholder="1390001234">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">造访单位</span>
          <input type="text" placeholder="1108室">
        </label>
        <label class="item item-input item-stacked-label">
          <span class='input-label'>造访时间</span>
          <input type="date" placeholder="">
        </label>
      </div>
      
      <div class="row">
        <button class="col button button-block button-positive padding-top">生成二维码并保存</button>
      </div>
      <div class="row">
        <a class="col button button-light mr10">彩信发送二维码</a>
        <a class="col button button-light">微信发送二维码</a>
      </div>
      
    </ion-content>
    </ion-view>