/* 
	common styles for Jiuzhi
	last updated: 2015-06-15;
	
	sturcture
		- override/enhancement of ionic styles
		- global setting
		- navigation
			> header
			> tabs
		- forms
		- content
		
*/


/* override of ionic styles */
.row + .row { margin-top: 0; }
.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%; 
}
.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%; 
}

/* Global setting */
body { font-family: Microsoft YaHei; }

.center { 
	text-align: center; 
	display: -webkit-box;
	-webkit-box-pack: center;
}
.center-v {
	display: -webkit-box;
	-webkit-box-align: center;
}
.center-both {
	display: -webkit-box;
	text-align: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.mt10 { margin-top: 10px;}
.ml10 { margin-left: 10px;}
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.mt20 { margin-top: 20px; }
.mt50 { margin-top: 50px;}
.border-bottom-only .item { border-width: 0 0 1px 0;}
.padding-no { padding: 0; }


/* navigation */

.avatar {
	width: 34px; height: 34px;
	position: absolute; top: 5px; right: 8px; 
}

.tab-item.tab-item-active { color: #4cb5bf; } 	/*active tab color*/

.bar.bar-light { 
	border-bottom: 1px solid #dcdcdc; 
}
.bar.bar-light .title { 
	font-size: 20px; 
	color: #4cb5bf; 
}
	.bar.bar-light .title img {
		vertical-align: middle;
	}




/* form */
label, .label { color: #888; }
.description { color: #aaa; font-size: 0.8em; padding-left: 1em; }
.instruction { color: #aaa; padding: 10px; }

/* content */
.xxxl { font-size: 48px; }
.grey { color: #aaa; }




